:root {
	font-size: 16px;
	font-family: 'Gudea', sans-serif;
}

* {
	box-sizing: border-box;
}

body {
	min-width: 220px;
}

a {
	text-decoration: none;
}

h1 {
	font-size: 5rem;
	font-weight: 600;
}

h2 {
	font-size: 2rem;
	font-weight: 600;
}

h3 {
	font-size: 1.25rem;
	font-weight: 600;
}

h4 {
	font-size: 0.8rem;
}

p {
	font-size: 1rem;
	line-height: 1.5rem;
}

svg {
	height: 16px;
	width: 16px;
}

button {
	cursor: pointer;
}

body {
	max-width: 100%;
	overflow-x: hidden;
}

nav {
	position: sticky;
	top: 0;
	display: flex;
	align-items: center;
	height: 56px;
	width: 100%;
	box-shadow: 0 0 48px rgba(0, 0, 0, 0.2);
	background-color: rgb(255, 255, 255);
	z-index: 500;
}

nav div {
	display: flex;
	align-items: center;
	color: rgb(150, 150, 150);
	z-index: 500;
}

nav h3 {
	font-size: 1.5rem;
}

section {
	padding: 24px 8px;
	margin: 0 auto;
}

section > h2 {
	padding-top: 12px;
	padding-bottom: 24px;
}

.newsletter {
	margin: 96px 0;
	padding: 0 48px;
}

main > :nth-child(2n) {
	background-color: rgb(250, 250, 250);
}

main .main-articles,
main .latest-stories,
main .newsletter,
main .watch-our-content,
main .work-with-us {
	max-width: 1400px;
}

.ham-menu {
	cursor: pointer;
	display: block;
	fill: rgb(150, 150, 150);
	height: 24px;
	width: 24px;
	transition: ease-in-out 0.3s;
	stroke: rgb(150, 150, 150);
	stroke-width: 2px;
	margin: 0 12px;
}

nav.show-menu .ham-menu {
	transform: rotate(180deg);
}

aside {
	display: flex;
	flex-direction: column;
	position: absolute;
	padding-top: 56px;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	color: rgb(200, 200, 200);
	background-color: rgb(0, 0, 0);
	transform: translateX(-100%);
	font-weight: 600;
	transition: ease-in-out 0.3s;
	z-index: 100;
}

aside > ul {
	flex: 1;
}

aside > ul li {
	user-select: none;
	transition: ease-in-out 0.3s;
	padding: 24px 40px;
	cursor: pointer;
}

aside > ul a.active li {
	background-color: rgba(255, 255, 255, 0.1);
	color: rgb(255, 255, 255);
}

aside > ul li:hover {
	color: rgb(255, 255, 255);
}

aside div {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 100%;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.15);
	transition: ease-in-out 0.3s;
}

aside div .social-media {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

aside div .social-media li {
	padding: 10px;
	background-color: rgb(0, 0, 0);
	border-radius: 50%;
}

aside div > span {
	padding: 12px;
}

aside div > span > a {
	color: rgb(255, 255, 255);
	padding: 12px;
}

.my-footer {
	width: 100%;
	text-align: center;
	background-color: rgb(0, 0, 0);
}

.my-footer a {
	font-weight: 600;
	color: rgb(255, 255, 255);
	margin: 8px;
	padding: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

.my-footer svg {
	box-sizing: content-box;
	border-radius: 50%;
	padding: 1px;
	background-color: rgb(255, 255, 255);
	fill: rgb(0, 0, 0);
}

nav.show-menu aside {
	transform: translateX(0);
}

.main-articles {
	text-align: center;
}

.main-grid-articles {
	scrollbar-width: none;
	overflow: auto hidden;
	white-space: nowrap;
	display: flex;
}

.main-grid-articles > * {
	color: rgb(255, 255, 255);
	margin-right: 8px;
	position: relative;
	flex: 0 0 85vw;
}

.main-grid-articles > * > img {
	width: 100%;
	height: 100%;
	background-position: bottom;
	background-size: cover;
	object-fit: cover;
}

.main-grid-articles > * > span {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-bottom: 24px;
	white-space: pre-wrap;
	text-align: left;
	background-image: linear-gradient(
		to bottom,
		rgba(255, 255, 255, 0),
		rgba(0, 0, 0, 1)
	);
}

.main-grid-articles > * h2,
.main-grid-articles > * h3,
.main-grid-articles > * h4 {
	margin: 4px 24px;
}

.main-grid-articles > :nth-child(3) > span {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.main-grid-articles > :nth-child(3) > span > * {
	position: unset;
	font-size: 1.5rem;
	margin: 12px 24px;
	line-height: 1.25rem;
}

.main-grid-articles > :nth-child(3) > span > a > button {
	padding: 4px 16px;
	color: rgb(255, 255, 255);
	border: 1px solid rgb(255, 255, 255);
	background-color: rgba(0, 0, 0, 0);
	border-radius: 20px;
}

.popular-today {
	text-align: center;
}

.popular-today > * {
	padding: 12px;
}

.popular-today span {
	color: rgba(200, 0, 150);
	font-size: 36px;
	margin-right: 12px;
}

.popular-today a {
	display: flex;
	color: rgb(0, 0, 0);
	padding: 12px;
}

.latest-stories h2 {
	text-align: center;
}

.latest-stories li {
	display: flex;
	margin-bottom: 24px;
}

.latest-stories li span > * {
	margin-bottom: 12px;
}

.latest-stories button {
	width: 100%;
	padding: 12px;
	background-color: rgba(255, 255, 255, 0);
	border: 1px solid rgb(175, 175, 175);
	border-radius: 100px;
	font-weight: 600;
}

.latest-stories ul img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin-right: 24px;
}

.channels-scroll-horizontal {
	scrollbar-width: none;
	overflow: auto hidden;
	white-space: nowrap;
	display: flex;
}

.explore-our-channels h2 {
	text-align: center;
}

.channels-scroll-horizontal > div {
	padding: 12px 0;
	min-width: 216px;
	min-height: 256px;
	flex-basis: calc(20% - 1rem);
	height: 256px;
	white-space: pre-wrap;
	background-size: cover;
	background-position: 50%;
	text-align: center;
}

.channels-scroll-horizontal > div:not(:first-child) {
	margin-left: 12px;
}

.channels-scroll-horizontal img {
	margin: 12px 12px 100px 12px;
	width: 125px;
	height: 25px;
}

.channels-scroll-horizontal p {
	color: rgb(255, 255, 255);
	text-align: center;
	padding: 24px;
}

.newsletter {
	margin-left: auto;
	margin-right: auto;
	color: rgb(255, 255, 255);
	background-image: url('https://next.tnwcdn.com/assets/next/img/spacesbg.png');
	background-size: cover;
	background-attachment: fixed;
	background-position: 50%;
	text-align: center;
}

.newsletter h3,
.newsletter p {
	padding: 12px;
}

.newsletter > div {
	display: flex;
	width: 100%;
	justify-content: center;
}

.newsletter input {
	flex: 1;
}

.newsletter input,
.newsletter button {
	border: none;
	padding: 8px 16px;
	font-size: 1.25rem;
}

.newsletter input {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.newsletter button {
	font-weight: 600;
	color: rgb(255, 255, 255);
	background-color: rgb(200, 0, 150);
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.newsletter button:hover {
	background-color: rgb(75, 175, 255);
}

.social-media {
	display: flex;
	padding: 12px;
}

.newsletter .social-media {
	justify-content: center;
}

.social-media svg {
	height: 24px;
	width: 24px;
	border-radius: 4px;
	fill: gray;
}

.social-media li {
	margin: 4px;
}

.watch-our-content {
	min-width: 100%;
}

.videos-container {
	display: flex;
	flex-direction: column;
}

.main-video {
	display: flex;
	flex-direction: column;
	min-width: 212px;
	max-width: 1060px;
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
}

.main-video h3,
.main-video span {
	margin: 12px;
}

.video-player-wrapper {
	min-height: 240px;
	min-width: 426px;
}

.video-player {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
}

.video-player iframe {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	max-height: 600px;
}

.playlist-scroll {
	overflow: auto hidden;
	white-space: nowrap;
	display: flex;
}

.playlist-scroll > div {
	display: flex;
	flex-direction: column;
	min-width: 208px;
	max-width: 208px;
	margin-right: 12px;
	margin-left: 0;
	margin-bottom: 24px;
}

.playlist-scroll a {
	margin: 12px 0;
	margin-right: 12px;
}

.playlist-scroll img {
	width: 100%;
}

.playlist-scroll > div > span {
	white-space: pre-wrap;
	line-height: 1.5rem;
	margin: 8px 0;
}

.work-with-us-text h3 {
	margin-top: 24px;
	font-size: 1rem;
	color: rgb(201, 0, 201);
}

.work-with-us h2,
.work-with-us p {
	padding: 12px 0;
}

.work-with-us p {
	text-align: justify;
	text-align-last: center;
}

.work-with-us button {
	background-color: rgb(0, 190, 190);
	color: rgb(255, 255, 255);
	padding: 16px 24px;
	border: none;
	border-radius: 4px;
	margin: 24px 0;
}

.work-with-us {
	text-align: center;
}

.work-with-us-images * {
	padding: 12px;
}

.work-with-us-images img {
	max-height: 112px;
	max-width: 112px;
}

.work-with-us-images {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.work-with-us-images > * {
	flex-basis: 50%;
	max-width: 50%;
}

.sponsors {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.sponsors > * {
	width: 200px;
}

.footer > * {
	padding: 24px;
}

.footer {
	background-color: rgb(0, 0, 0) !important;
	color: rgb(255, 255, 255);
}

.footer a {
	color: rgb(0, 200, 225);
}

.footer a:hover {
	text-decoration: underline;
}

.footer-side {
	display: flex;
}

.footer-side > * {
	width: 50%;
}

.footer-tnw-main > * {
	padding: 12px;
}

.footer-side > div > * {
	padding: 4px 12px;
}

.footer-tnw-more li,
.footer-tnw-about li {
	padding: 4px 0;
}

.footer-tnw-more,
.footer-tnw-about {
	display: block;
}

.footer-bottom {
	border-top: 1px solid rgb(150, 150, 150);
	color: rgb(150, 150, 150);
	padding: 40px;
	line-height: 1.5rem;
	text-align: center;
}

@media only screen and (min-width: 768px) {
	section {
		padding: 24px 48px;
		margin: 0 auto;
	}

	aside {
		width: 400px;
	}

	aside div {
		width: 400px;
	}

	aside div .social-media {
		padding: 0;
		justify-content: space-evenly;
	}

	aside div .social-media li {
		margin-right: 8px;
	}

	main {
		transition: ease-in-out 0.3s;
	}

	main.show-menu {
		transform: translateX(400px);
	}

	.main-articles .top {
		padding: 40px 24px 40px 0;
	}

	.main-grid-articles {
		overflow: unset;
		white-space: nowrap;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.main-grid-articles > * {
		margin-bottom: 8px;
	}

	.main-grid-articles :first-child {
		grid-column: 1/-1;
	}

	.latest-stories ul {
		display: flex;
		flex-wrap: wrap;
	}

	.latest-stories ul li {
		flex-basis: 50%;
		max-width: 50%;
		padding: 12px 0;
	}

	.latest-stories h2 {
		text-align: left;
	}

	.latest-stories ul li:nth-child(1n) {
		padding-right: 12px;
	}

	.latest-stories ul li:nth-child(2n) {
		padding-left: 12px;
	}

	.newsletter > div input {
		flex: unset;
		width: 50%;
	}

	.explore-our-channels h2 {
		text-align: left;
	}

	.videos-container {
		flex-direction: row;
		max-height: 600px;
	}

	.main-video {
		max-width: unset;
		width: 100%;
	}

	.playlist-scroll {
		overflow: hidden auto;
		flex-direction: column;
		max-height: 600px;
	}

	.playlist-scroll > div {
		margin: 0;
		margin-left: 24px;
	}

	.playlist-scroll a {
		margin: 0;
	}

	.work-with-us-top {
		display: flex;
	}

	.work-with-us-text {
		max-width: 50%;
	}
}

@media only screen and (min-width: 1024px) {
	nav {
		height: 48px;
		justify-content: left;
		background-color: rgb(240, 240, 240);
	}

	nav h3 {
		color: rgb(0, 0, 0);
		padding: 0 24px;
	}

	aside button {
		position: absolute;
		top: 10px;
		right: 10px;
		display: block;
		fill: rgba(0, 0, 0, 0.2);
	}

	.ham-menu {
		display: none;
	}

	aside li {
		padding: 16px !important;
	}

	aside a li {
		color: rgb(75, 75, 75) !important;
	}

	aside > ul a.active li {
		background-color: rgb(255, 255, 255);
		color: rgb(255, 255, 255);
	}

	aside li:hover {
		color: rgb(0, 0, 0) !important;
	}

	.my-footer {
		position: absolute;
		top: 0;
		right: 0;
		direction: rtl;
		width: fit-content;
		background-color: transparent;
	}

	.my-footer a {
		color: rgb(75, 75, 75);
	}

	.my-footer a:hover {
		color: rgb(0, 0, 0);
	}

	.my-footer svg {
		border: 1px solid rgb(0, 0, 0);
	}

	main {
		transform: translateX(0);
	}

	main.show-menu {
		transform: translateX(0);
	}

	aside {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		padding-top: 0;
		color: rgb(75, 75, 75);
		background-color: unset;
		transform: unset;
		transition: unset;
		height: unset;
	}

	aside > ul li {
		display: inline-block;
		padding: 12px;
	}

	aside > div {
		display: none;
	}

	.main-articles .top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 80px 24px 80px 0;
	}

	.main-grid-articles {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(5, 1fr);
	}

	.main-grid-articles > a {
		grid-column: span 1;
		grid-row: span 2;
	}

	.main-grid-articles > :first-child h3,
	.main-grid-articles > :last-child h3 {
		font-size: 2.5rem;
	}

	.main-grid-articles > :first-child {
		grid-column: 1 / span 2;
		grid-row: 1 / span 3;
	}

	.main-grid-articles > :last-child {
		grid-column: 3 / span 2;
		grid-row: 3 / span 3;
	}

	.main-grid-articles > :nth-child(3) {
		grid-column: 1 / span 2;
		grid-row: 4 / span 2;
	}

	.popular-today ol {
		display: flex;
	}

	.popular-today li {
		line-height: 1.5rem;
		text-align: left;
	}

	.latest-stories ul li {
		flex-direction: column;
		flex-basis: 25%;
		max-width: 25%;
	}

	.latest-stories ul img {
		border-radius: 0;
		margin-right: 0;
		margin-bottom: 12px;
		border-radius: 0;
		width: auto;
		height: auto;
		height: 124px;
	}

	.work-with-us {
		text-align: left;
	}

	.work-with-us p {
		text-align: left;
		text-align-last: left;
	}

	.work-with-us-images > div {
		display: flex;
		align-items: center;
	}

	.sponsors {
		flex-wrap: nowrap;
	}

	.footer-top {
		display: flex;
	}

	.footer-top > div {
		width: 50%;
	}
}
